<h1>Success!</h1>

Your new category <span style = "text-decoration:underline; font-weight:bold;">  $categoryName</span> has been saved successfully.

<br>

<a href="/categories"> <button class = "btn btn-danger" style = "margin:15px;"> View All Categories </button> </a>