
<h1>TASK LIST APP!</h1>

<h4> From here you can navigate through the App </h4>

<a href = "/categories/newCategory"> <button class="btn btn-primary"> Add A Category </button> </a>
<a href = "/categories"> <button class="btn btn-danger"> View Categories </button> </a>


