<h1> Your new task has been added! </h1>

<h4> It is as follows: </h4>

<hr>
<br>

<h4 style = "font-weight:bold;"> $task.getName() </h4>

<p> And its description: <cite> $task.getDescription() </cite> </p>

(It has been added to the $category.getName() category!)
<br>

<hr>
<a href = "/categories"><button class = "btn btn-warning">Go back to Category Menu</button></a>